@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');
.all {

    .download {
        
        font-family: 'Poppins', sans-serif;

        .download-h1 {
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .download-link {
            align-items: center;
            justify-content: center;
            display: flex;
        }

    }

    .image {

        font-family: 'Poppins', sans-serif;
        font-weight: bold;

        .image-h1 {
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .image-photo {
            align-items: center;
            justify-content: center;
            display: flex;
            
            width: 900px;
            border: 10px solid #000000;
            padding: 75px;
            margin: 15px;

            // box-sizing: border-box;
            border-radius: 10px;

            outline-style: groove;
            outline-color: #000000;
        }

    }

    .redictering-buttons {
        font-family: 'Dongle', sans-serif;

        .button-h1 {
            align-items: center;
            justify-content: center;
            display: flex;
            text-shadow: 2px 2px;
        }

        .button {
            
        }

    }

}