@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');
.all {

    .download {
        
        font-family: 'Poppins', sans-serif;


        .download-h1 {
            position: sticky;

            align-items: center;
            justify-content: center;
            display: flex;
        }

        .download-link {
            align-items: center;
            justify-content: center;
            display: flex;
        }

    }

    .image {

        font-family: 'Poppins', sans-serif;
        font-weight: bold;

        .image-h1 {
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .image-photo {
            align-items: center;
            justify-content: center;
            display: flex;
            
            width: 900px;
            border: 10px solid #000000;
            padding: 75px;
            margin: 15px;

            // box-sizing: border-box;
            border-radius: 10px;

            outline-style: groove;
            outline-color: #000000;
        }

    }

    .Login {

        padding: auto;
        margin: auto;
        flex-wrap: wrap;

        

        font-family: 'Dongle', sans-serif;

        .sing-up {

            display: block;
            
            .SingUp-Submit {
                background-color: #000000;
                font-size: 20px;
                color: #ffff;
                font-family: 'Dongle', sans-serif;
                cursor: pointer;

            }

            .SingUp-Submit:hover {
                transition-duration: 0.4s;
                box-shadow: rgb(0, 0, 0);
                transform: scale(1.04, 1);
                opacity: 1;
            }

            .SingUp-Submit::after {
                transform: scale(-1.04, -1);
            }

            
            .SingUp-b1 {
                font-size: 50px;
                align-items: center;
                justify-content: center;
                display: flex;
            }

            font-family: 'Dongle', sans-serif;

            .break-1 {

                display: block;
                
                .SingUp-Submit {
                    background-color: #000000;
                    font-size: 20px;
                    color: #ffff;
                    font-family: 'Dongle', sans-serif;
                    cursor: pointer;

                }

                .SingUp-Submit:hover {
                    transition-duration: 0.4s;
                    box-shadow: rgb(0, 0, 0);
                    transform: scale(1.04, 1);
                    opacity: 1;
                }

                .SingUp-Submit::after {
                    transform: scale(-1.04, -1);
                }

                font-size: 20px;
            }

            .break-2 {

                display: block;

                .SingUp-Submit {
                    background-color: #000000;
                    font-size: 20px;
                    color: #ffff;
                    font-family: 'Dongle', sans-serif;
                    cursor: pointer;

                }


                .SingUp-Submit:hover {
                    transition-duration: 0.4s;
                    box-shadow: rgb(0, 0, 0);
                    transform: scale(1.04, 1);
                    opacity: 1;
                }

                .SingUp-Submit::after {
                    transform: scale(-1.04, -1);
                }


                font-size: 20px;
            }

            
        }

        .sing-in {
            
            
            .SingIn-b1 {
                font-size: 50px;
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .break-1 {

                display: block;
                
                .SingUp-Submit {
                    background-color: #000000;
                    font-size: 20px;
                    color: #ffff;
                    font-family: 'Dongle', sans-serif;
                    cursor: pointer;

                }


                .SingUp-Submit:hover {
                    transition-duration: 0.4s;
                    box-shadow: rgb(0, 0, 0);
                    transform: scale(1.04, 1);
                    opacity: 1;
                }

                .SingUp-Submit::after {
                    transform: scale(-1.04, -1);
                }

                font-size: 20px;

            }

        }

    }

}

