@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap");
.all .download {
  font-family: 'Poppins', sans-serif;
}

.all .download .download-h1 {
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .download .download-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .image {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.all .image .image-h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .image .image-photo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  border: 10px solid #000000;
  padding: 75px;
  margin: 15px;
  border-radius: 10px;
  outline-style: groove;
  outline-color: #000000;
}

.all .Login {
  padding: auto;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Dongle', sans-serif;
}

.all .Login .sing-up {
  display: block;
  font-family: 'Dongle', sans-serif;
}

.all .Login .sing-up .SingUp-Submit {
  background-color: #000000;
  font-size: 20px;
  color: #ffff;
  font-family: 'Dongle', sans-serif;
  cursor: pointer;
}

.all .Login .sing-up .SingUp-Submit:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transform: scale(1.04, 1);
          transform: scale(1.04, 1);
  opacity: 1;
}

.all .Login .sing-up .SingUp-Submit::after {
  -webkit-transform: scale(-1.04, -1);
          transform: scale(-1.04, -1);
}

.all .Login .sing-up .SingUp-b1 {
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .Login .sing-up .break-1 {
  display: block;
  font-size: 20px;
}

.all .Login .sing-up .break-1 .SingUp-Submit {
  background-color: #000000;
  font-size: 20px;
  color: #ffff;
  font-family: 'Dongle', sans-serif;
  cursor: pointer;
}

.all .Login .sing-up .break-1 .SingUp-Submit:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transform: scale(1.04, 1);
          transform: scale(1.04, 1);
  opacity: 1;
}

.all .Login .sing-up .break-1 .SingUp-Submit::after {
  -webkit-transform: scale(-1.04, -1);
          transform: scale(-1.04, -1);
}

.all .Login .sing-up .break-2 {
  display: block;
  font-size: 20px;
}

.all .Login .sing-up .break-2 .SingUp-Submit {
  background-color: #000000;
  font-size: 20px;
  color: #ffff;
  font-family: 'Dongle', sans-serif;
  cursor: pointer;
}

.all .Login .sing-up .break-2 .SingUp-Submit:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transform: scale(1.04, 1);
          transform: scale(1.04, 1);
  opacity: 1;
}

.all .Login .sing-up .break-2 .SingUp-Submit::after {
  -webkit-transform: scale(-1.04, -1);
          transform: scale(-1.04, -1);
}

.all .Login .sing-up .break-2 .submit-all {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .Login .sing-up .break-2 .submit-all .Submit-All {
  background-color: #000000;
  font-size: 20px;
  color: #ffff;
  font-family: 'Dongle', sans-serif;
  cursor: pointer;
}

.all .Login .sing-up .break-2 .submit-all .Submit-All:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transform: scale(1.04, 1);
          transform: scale(1.04, 1);
  opacity: 1;
}

.all .Login .sing-up .break-2 .submit-all .Submit-All::after {
  -webkit-transform: scale(-1.04, -1);
          transform: scale(-1.04, -1);
}

.all .Login .sing-in .SingIn-b1 {
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .Login .sing-in .break-1 {
  display: block;
  font-size: 20px;
}

.all .Login .sing-in .break-1 .SingIn-Submit {
  background-color: #000000;
  font-size: 20px;
  color: #ffff;
  font-family: 'Dongle', sans-serif;
  cursor: pointer;
}

.all .Login .sing-in .break-1 .SingIn-Submit:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transform: scale(1.04, 1);
          transform: scale(1.04, 1);
  opacity: 1;
}

.all .Login .sing-in .break-1 .SingIn-Submit::after {
  -webkit-transform: scale(-1.04, -1);
          transform: scale(-1.04, -1);
}
/*# sourceMappingURL=styles.css.map */